.backdrop {

    width: 100%;
    height: 100vh;
    z-index: 99999999;

    .wrapper {
        animation: prompt-from-bottom 0.2s ease-in-out;
        width: 327px;
        .banner {
            padding: 40px 16px 40px 16px;
            .banner-content {
                letter-spacing: 0.0125em;
                .sub-heading {
                    margin-top: 13px;
                }
            }

            img {
                width: 109px;
                height: 95px;
            }
        }

        .order-details {

            display: grid;
            gap: 16px;
            padding: 16px;

            .first-card {
                @extend .card;
                display: flex;
                justify-content: space-between;

                &>span {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }


            }

            .second-card {
                @extend .card;
                display: grid;
                gap: 9px;

                .minutes-away {
                    display: flex;
                    gap: 9px;
                    align-items: center;

                    span {
                        color: #ACACAC;
                    }
                }
            }

        }
    }
}

@keyframes prompt-from-bottom {
    from {
        top: 70%;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

.card {
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    padding: 16px 16px 14px 16px;


}

input[type="range"]:before {
    content: "Accept Order";

}