<header class="flex-spaced flex-aligned p-16">
  <div class="online-btn flex-aligned gap-24" (click)="toggleRiderOnline()">
    <span class="circle" [ngClass]="{'circle-online': isRiderOnline, 'circle-offline': !isRiderOnline}"></span>
    <span class="text" 
    [ngClass]="{'text-online': isRiderOnline, 'text-offline': !isRiderOnline}"
    >
    {{isRiderOnline ? 'Online' : 'Offline'}}
  </span>
  </div>
  <div class="flex-aligned gap-24">
    <button class="bordered-chip" routerLink="/tabs/support-tickets" >HELP</button>
    <button><img src="../../assets/icon/notifications.svg" alt="notification"></button>
  </div>
</header>