<header class="flex-spaced flex-aligned p-16">
  <div class="online-btn flex-aligned gap-24" (click)="toggleRiderOnline()">
    <span class="circle" [ngClass]="{'circle-online': isRiderOnline, 'circle-offline': !isRiderOnline}"></span>
    <span class="text" 
    [ngClass]="{'text-online': isRiderOnline, 'text-offline': !isRiderOnline}"
    >
    {{isRiderOnline ? 'Online' : 'Offline'}}
  </span>
  </div>
  <button class="bordered-chip" routerLink="/tabs/support-tickets" >HELP</button>


</header>