
<div class="target-content">
  <div class="left">
    <p class="rides-title">Target Deliveries</p>
    <p class="rewards-title">My Reward</p>
  </div>
  <div class="target-bar">
    <span [style.width.%]="targetData.currentReward / targetData.maxReward * 100"></span>
  </div>
  <div class="right">
    <div class="ride-reward" *ngFor="let reward of targetData.ridesPerReward | keyvalue">
      <p class="ride-title">{{ reward.key }}</p>
      <div class="dot">

      </div>
      <p class="reward-title">₹{{ reward.value }}</p>
    </div>
  </div>

</div>