<div class="my-target-wrapper">
<span class="feed-header">
  <p class="feed-title">My Target</p>
  <p class="">{{"(Time: 07:00 PM - 11:00 PM)"}}</p>
</span>
<div class="target-content">
  <div class="left">
    <p class="rides-title">Target Deliveries</p>
    <p class="rewards-title">My Reward</p>
  </div>
  <div class="target-bar">
    <span [style.width.%]="targetData.currentReward / targetData.maxReward * 100"></span>
  </div>
  <div class="right">
    <div class="ride-reward" *ngFor="let reward of targetData.ridesPerReward | keyvalue">
      <p class="ride-title">{{ reward.key }}</p>
      <div class="dot">

      </div>
      <p class="reward-title">₹{{ reward.value }}</p>
    </div>
  </div>

</div>
</div>