<ion-header class="flex-spaced flex-aligned pr-16">
  <div class="flex-aligned ">
    <ion-back-button class="f-black" defaultHref="/tabs/account"></ion-back-button>
    <span class="bf-16">Change Password</span>
  </div>

</ion-header>

<ion-content>
  <form class="p-16 flex-col gap-24" [formGroup]="passwordGroup" >
    <div class="flex-col gap-12">
      <label class="bf-12"  for="current-password">Current Password</label>
    <input class="input-field" type="password" id="current-password" placeholder="Enter your current password" formControlName="currentPassword">

    </div>
    <div class="flex-col gap-12">
      <label class="bf-12" for="new-password">New Password</label>
    <input class="input-field" type="password" id="new-password" placeholder="Enter new password" formControlName="newPassword">
    </div>
    <div class="flex-col gap-12">
      <label class="bf-12" for="confirm-new-password">Confirm New Password</label>
    <input class="input-field" type="password" id="confirm-new-password"  placeholder="Enter new password again" formControlName="confirmPassword">
    </div>
    <div class="p-16">
      <button class="t-btn" (click)="changePassword()"> Change Password</button>
    </div>
  </form>

</ion-content>

