 .wrapper {
        left: 0;
        bottom: 0;
        animation: prompt-from-bottom 0.2s ease-in-out;
        padding: 24px 32px 48px 32px;
        .circle-dismiss-btn {
            left: 16px;
        }


            .head {
                padding-bottom: 3px;
                img {
                    width: 40px;
                    height: 40px;
                }

                span {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            .block-lines{
                display: flex;
                justify-content: space-between;
                span{
                    &:last-child{
                        display: flex;
                        gap: 8px ;
                    }
                }

                
            }
            .surge-lines{
                span{
                    color: #757575 !important;
                }
            }
        }




    



@keyframes prompt-from-bottom {
    from {
        bottom: 1000;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}