<!-- <div class="backdrop " (click)="onDismiss($event)"> -->
  <div class="backdrop w-full h-screen">
    <div class="wrapper w-full absolute round-top flex-col bg-white gap-32" >
      <div class="circle-dismiss-btn" (click)="onDismiss($event)">
        <img src="../../../../assets/icon/close.svg" alt="">
      </div>
      <div class="bf-18">Rate Card</div>
      <div class="flex-col gap-16">
        <div class="head flex gap-12">
            <img src="../../../../assets/icon/currency2.svg" alt="">
            <span>
              <div class="bf-12">Order Pay</div>
              <div class="rf-10">Earnings per order</div>
            </span>
        </div>
        <div class="flex-spaced">
          <span class="bf-12">Distance Pay</span>
          <span class="flex gap">
            <span class="bf-12">+ ₹{{"4  "}}</span>
            <span class="rf-10"> per trip</span>
          </span>
        </div>
        <div class="flex-spaced">
          <span class="bf-12">Order Extra Wait Time</span>
          <span class="flex gap">
            <span class="bf-12">+ ₹{{"1"}}</span>
            <span class="rf-10">per trip</span>
          </span>
        </div>
        <div class="flex-spaced">
          <span class="bf-12">Minimum Base Pay</span>
          <span class="flex gap" >
            <span class="bf-12">₹{{"20"}}</span>
            <span class="rf-10">per trip</span>
          </span>
        </div>
      </div>
      <div class="block">
        <div class="head flex gap-12">
            <img src="../../../../assets/icon/rewards.svg" alt="">
            <span>
              <div class="bf-12">My Rewards</div>
              <div class="rf-10">You can get one reward each day</div>
            </span>
        </div>
        <app-my-target></app-my-target>
      </div>
      <div class="block grid gap-12">
        <div class="head flex gap-12">
            <img src="../../../../assets/icon/surge.svg" alt="">
            <span>
              <div class="bf-12">Surge Pricing</div>
              <div class="rf-10">Earn extra amounts during these hours</div>
            </span>
        </div>
        <div class="flex-spaced surge-lines">
          <span class="bf-12">Rain (2 slots)</span>
          <span>
            <span class="bf-12"> Upto ₹{{"75"}} </span>
            <span class="rf-12"> each trip</span>
          </span>
        </div>
        
        <div class="flex-spaced surge-lines">
          <span class="bf-12">Deliver between 3pm - 6pm</span>
          <span>
            <span class="rf-12">₹{{"75"}}</span>
          </span>
        </div>
        <div class="flex-spaced surge-lines">
          <span class="bf-12">Deliver between 6:10pm - 10:40pm</span>
          <span>
            <span class="rf-12"> ₹{{"1000"}}</span>
          </span>
        </div>
      </div>
  
  </div>