<app-header></app-header>

<ion-content>
  <div *ngIf="!isRiderOnline">
    <app-offline-banner></app-offline-banner>
  </div>
  
  <div class="todays-progress-wrapper">
    <span class="feed-header">
      <p class="feed-title">Today's Progress</p>
      <button class="text-only-btn">see more</button>
    </span>
    <div class="progress-block">
      <div class="card">
        <span class="card-stats">₹{{"0"}}</span>
        <p>Total Earnings</p>
        <button class="text-only-btn" (click)="goToTab('payouts')">Payouts <img src="../../assets/icon/chevron_right.svg" /></button>
      </div>
      <div class="card">
        <span class="card-stats">{{"0.0"}}</span>
        <p>Trips Today</p>
        <button class="text-only-btn">Trips <img src="../../assets/icon/chevron_right.svg" /></button>
      </div>
      <div class="card">
        <span class="card-stats">{{"0"}}</span>
        <p>Total Login Hours</p>
        <button class="text-only-btn">Sessions <img src="../../assets/icon/chevron_right.svg" /></button>
      </div>
    </div>
  </div>
  <div *ngIf="isRiderOnline">
    <app-orders></app-orders>
  </div>
<app-my-target class="feed-block" ></app-my-target>

<app-payout-rate-card></app-payout-rate-card>
</ion-content>