<ion-header class="flex-spaced py-8">
  <div class="flex-aligned ">
    <ion-back-button class="f-lightgrey" defaultHref="/tabs/account"></ion-back-button>
    <span class="bf-16">Manage Profile</span>
  </div>
  <div class="flex-aligned gap-24 px">
    <button class="bordered-chip">HELP</button>
    <button><img src="../../assets/icon/notifications.svg" alt="notification"></button>
  </div>
</ion-header>

<ion-content>
<div class="p-16 flex-col gap-16">
  <div class="bordered-card flex-aligned p-16 gap-24">
    <span class="user-img bg-grey">
        <img src="" alt="">
    </span>
    <span class="">
        <div class="bf-16">{{"Nickhil Nickhil"}}</div>
        <div class="rf-12">{{"FE1799542"}}</div>
    </span>
</div>

<div class="bf-16">
  Personal Details
</div>
<div class="bordered-card p-16 flex-col gap-12">
<div class="flex-spaced f-darkgrey">
  <span class="bf-12">Alternate Phone</span>
  <span class="rf-12">9876543210</span>
</div>
<div class="flex-spaced f-darkgrey">
  <span class="bf-12">DL No</span>
  <span class="rf-12">9876543210</span>
</div>
<div class="flex-spaced f-darkgrey">
  <span class="bf-12">DL Expiry</span>
  <span class="rf-12">04/26</span>
</div>
</div>
<div class="bf-16">
  Bank Details
</div>
<div class="bordered-card p-16 flex-col gap-12">
  <div class="flex-spaced f-darkgrey">
    <span class="bf-12">Bank Name</span>
    <span class="rf-12">HDFC Bank</span>
  </div>
  <div class="flex-spaced f-darkgrey">
    <span class="bf-12">Account Number</span>
    <span class="rf-12">HDFC1224123123</span>
  </div>
  <div class="flex-spaced f-darkgrey">
    <span class="bf-12">IFSC Code</span>
    <span class="rf-12">HDFC122412</span>
  </div>
  </div>
<div class="bf-16">
  App Stats
</div>
<div class="bordered-card p-16 flex-col gap-12">
  <div class="flex-spaced f-darkgrey">
    <span class="bf-12">Total Orders Till Date</span>
    <span class="rf-12">50</span>
  </div>
  <div class="flex-spaced f-darkgrey">
    <span class="bf-12">Total Earnings</span>
    <span class="rf-12">₹25000</span>
  </div>
  <div class="flex-spaced f-darkgrey">
    <span class="bf-12">Total Distance</span>
    <span class="rf-12">500 KM</span>
  </div>
  </div>

</div>

</ion-content>
