
<ion-header [translucent]="true">
	<div class="strip" style="height:10px; background-color:#00EECB ">

	</div>
	<ion-toolbar>
		<ion-title >
			<img src="../../assets/no1.png" style="height: 4rem;" alt="">
		   </ion-title>
       <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
	  
  </ion-toolbar>

    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>Change Password </h4>
          </div>
          <div padding>
            <form [formGroup]="passwordGroup">
              <ion-item>
                <ion-input formControlName="currentPassword"  type='text'  placeholder="Current Password" ></ion-input>
              </ion-item>
          <span class="error" *ngIf="noPass">Current Password is Required</span>
              <ion-item>
                <ion-input  formControlName="newPassword"   type="password" placeholder="New Password"></ion-input>
              </ion-item>
              <span class="error" *ngIf="nocPass">New Password is Required</span>
              <ion-item>
                <ion-input  formControlName="confirmPassword"   type="password" placeholder="Confirm Password"></ion-input>
              </ion-item>
              <span class="error" *ngIf="noccPass">New Password is Required</span>
            </form> 
            
          </div>
          <div padding>
            <ion-button class="signButton" size="large" (click)="changePassword()" expand="block">Change Password</ion-button>
          </div>
          <p *ngIf="inv" style="font-size: 14px; color:red">Fill all the fields!</p>
          
        </ion-col>
      
      </ion-row>
    
      
    </ion-grid>


