.strip{
    height:10px;
    background-color:#00EECB;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo{
    width:fit-content;
}

.totalOrder{
    background: rgb(242,39,49);
    background: linear-gradient(104deg, rgba(242,39,49,1) 0%, rgba(199,0,26,1) 100%);
    margin:20px;
    padding:20px;
    border-radius:10px;
    color:white;
    text-align: center;
}

#ongoing{
    background: rgb(0,238,203);
background: linear-gradient(104deg, rgba(0,238,203,1) 0%, rgba(0,184,157,1) 100%);
}
#past{
    background: rgb(242,39,49);
background: linear-gradient(104deg, rgba(242,39,49,1) 0%, rgba(199,0,26,1) 100%);
}

.notContainer{
    border-radius: 10px;
    padding:10px;
    text-align: center;
}

.idSec{
    display: flex;
    justify-content: space-between;

}

.infoContainer{
    display: flex;
    justify-content: space-between;
}