<ion-header [translucent]="true">
  <div class="strip"></div>
  <ion-toolbar>
    <ion-title class="title">
      <div class="title">
        <div class="logo">
          <img src="../../assets/no1.png" style="height: 3.5rem" alt="logo" />
        </div>
        <div class="pname" (click)="openlog($event)">
          <span style="font-size: 12px">{{name}}</span
          ><ion-icon
            style="font-size: 12px; color: #f22731"
            name="caret-down-outline"
          ></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 10px">
    <ion-row
      style="display: flex; justify-content: space-between; padding: 10px"
    >
      <ion-col size="5.7" class="notContainer" id="ongoing">
        <!-- ongoing order notification -->
        <p class="notTitle">Ongoing Orders</p>
        <div class="notContent">
          <div class="">
            <ion-icon
              style="font-size: 50px; color: #c6fff7"
              name="alarm-outline"
            ></ion-icon>
          </div>
          <div class="notNumber">{{ongoingOrders.length}}</div>
        </div>
      </ion-col>
      <!-- past order notification -->
      <ion-col size="5.7" class="notContainer" id="past">
        <p class="notTitle" style="font-size: 15px; color: white">
          Completed Orders
        </p>
        <div class="notContent">
          <div class="">
            <ion-icon
              style="font-size: 50px; color: #ffb0b4"
              name="clipboard-outline"
            ></ion-icon>
          </div>
          <div class="notNumber">{{completeCount}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- toggle area -->
  <ion-list>
    <ion-item>
      <ion-label>Active</ion-label>
      <ion-toggle
        [(ngModel)]="active"
        (ionChange)="toogleChanged($event)"
      ></ion-toggle>
    </ion-item>
  </ion-list>
  <!-- approval area -->
  <div class="secHead" *ngIf="pendingOrders.length >0">
    Waiting for approval ...
  </div>
  <p class="notice ion-padding" *ngIf="pendingOrders.length == 0">
    You don't have any new orders!
  </p>
  <ion-card class="pendingOrders" *ngFor="let order of pendingOrders">
    <p
      style="
        margin-bottom: 2px;
        font-weight: 100;
        font-size: 12px;
        color: #373636;
        text-align: center;
      "
    >
      OrderId
    </p>
    <p
      style="margin-top: 0; font-size: 12px; color: #fa3b54; text-align: center"
    >
      {{order.txnid}}
    </p>
    <p style="text-align: center; margin: 5px 0; color: #3d534e">
      We have a new order for you!!
    </p>
    <p
      *ngIf="order.manual!=1"
      style="
        font-size: 1.2rem;
        font-family: Khula;
        font-weight: bold;
        text-align: center;
        margin: 5px 0;
        color: #fa3b54;
      "
    >
      {{order.timeLeft}}
    </p>
    <p style="text-align: center; margin: 5px 0; color: #3d534e"></p>

    <div class="buttonContainer">
      <ion-button style="--background: #00bda1" (click)="approve(order.txnid)">
        APPROVE
      </ion-button>
      <ion-button style="--background: #ed232e" (click)="decline(order.txnid)"
        >DECLINE</ion-button
      >
    </div>
  </ion-card>
  <!-- active orders -->
  <div class="secHead" style="margin-top: 20px">Active orders</div>
  <p class="notice ion-padding" *ngIf="ongoingOrders.length == 0">
    You don't have any orders to deliver!
  </p>
  <ion-card *ngFor="let order of ongoingOrders">
    <div class="" style="padding: 10px">
      <div class="idSec">
        <div class="" (click)="openPopover(order)">
          <p style="width: fit-content; font-size: 10px; margin: 0">Order Id</p>
          <p
            style="
              width: fit-content;
              font-size: 12px;
              color: #ef242f;
              font-weight: bold;
              margin: 0;
            "
          >
            {{order.txnid}}
          </p>
        </div>
        <div class="">
          <p style="width: fit-content; font-size: 12px; color: #000000">
            {{order.time}}
          </p>
        </div>
      </div>
      <p
        *ngIf="order.prep"
        style="
          width: fit-content;
          font-size: 12px;
          color: #ef242f;
          font-weight: bold;
          margin: 0;
        "
      >
        Dish is ready!
      </p>
      <div class="infoContainer">
        <div class="customerContainer">
          <p
            style="
              color: #3d534e;
              font-weight: bold;
              font-size: 14px;
              margin-bottom: 5px;
              text-align: center;
            "
          >
            <span style="color: #f02630; font-size: 12px">
              <ion-icon name="person"></ion-icon
            ></span>
            {{order.deliveryname}}
          </p>

          <a
            style="margin: 0; text-decoration: none; z-index: 5"
            href="tel:{{order.deliverynumber}}"
            ><p
              style="
                color: #000000;
                font-size: 14px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 3px;
              "
            >
              {{order.deliverynumber}}
            </p></a
          >
          <a
            style="margin: 0; text-decoration: none"
            href="https://www.google.com/maps/search/?api=1&query={{order.lati}},{{order.longi}}"
          >
            <p
              (click)="navigateVendor(order.lati,order.longi)"
              style="color: #1f2626; font-size: 12px; margin-top: 3px"
            >
              {{order.address}}
            </p>
          </a>
        </div>
        <div class="vendorContainer">
          <p style="color: #3d534e; font-size: 14px; font-weight: bold">
            <ion-icon
              style="font-size: 12px; color: #00bda1"
              name="fast-food"
            ></ion-icon
            >{{order.vname}}
          </p>
          <a
            style="margin: 0; text-decoration: none"
            href="https://www.google.com/maps/search/?api=1&query={{order.vlat}},{{order.vlong}}"
          >
            <p style="color: #1f2626; font-size: 12px">{{order.vadd}}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="msg">
      <p class="">
        <img src="../../assets/msg.svg" alt="" /> &nbsp; {{order.msg}}
      </p>
    </div>
    <p style="margin: 0; text-align: center">{{order.name}}</p>
    <p style="margin: 0; text-align: center">
      <a href="tel:{{order.no}}"></a>{{order.no}}
    </p>
    <div
      class="actionButton"
      *ngIf="order.status == '4'"
      (click)="pickedup(order.txnid)"
    >
      Picked Up
    </div>
    <div class="buttonContainer" *ngIf="order.status == '5'">
      <ion-button
        style="--background: #00bda1"
        (click)="delivered(order.txnid)"
      >
        Delivered
      </ion-button>
      <ion-button style="--background: #ed232e" (click)="rejected(order.txnid)"
        >Rejected</ion-button
      >
    </div>
  </ion-card>
</ion-content>
