.banner-wrapper {
    height: 131px;
    background-color: #FF6565;
    position: relative;
    overflow: hidden;

    .banner-text {
        position: absolute;
        left: 7.5%;
        top: 50%;
        transform: translateY(-50%);

        font-family: 'Nunito';

        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        /* or 26px */

        color: #FFFFFF;
    }

    .banner-img {
        position: absolute;
        height: 197px;
        left: 201px;
        top: -23px;
        background-color: #F5F5F5;
        aspect-ratio: 1;
        border-top-left-radius: 6rem;
        border-bottom-left-radius: 6rem;

        img {
            position: absolute;
            left: 21px;
            top: 35px;

        }
    }

}

.todays-progress-wrapper {
    span {
        justify-content: space-between;


        p {
            &:nth-child(2) {
                font-size: 12px;

            }
        }
    }

    div {
        display: flex;
        justify-content: space-between;
        padding: 11px 16px;


        .card {
            margin: unset;
            box-shadow: none;
            background: #FFFFFF;
            border: 1px solid #F1F1F1;
            border-radius: 8px;
            width: 99px;
            height: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card-stats {
                padding: 5.5px 10px;
                background: #EEEEEE;
                border-radius: 8px;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                color: #000000;
            }

            p {
                width: 99px;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                text-align: center;
                color: #000000;
                height: 10px;

            }
        }

    }
}

.feed-block {}

.feed-header {

    padding: 0 16px;
    display: flex;
    align-items: center;

    p {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #000000;
    }

    button {
        font-weight: 700;
        font-size: 12px;

    }
}

.card-footer {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: 400;
        font-size: 12px;
    }

    button {
        font-weight: 700;
        font-size: 12px;

    }

}

.my-target-wrapper {
    span {
        gap: 10px;

        p {
            &:nth-child(2) {
                font-weight: 400;
                font-size: 10px;

            }
        }
    }
}
