<app-header ></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  

  <div *ngIf="!isRiderOnline">
    <app-offline-banner></app-offline-banner>
  </div>

<div class="px">
  <div class="todays-progress-wrapper">
    <span class="flex-spaced ">
      <p class="bf-16">Today's Progress</p>

    </span>
    
    <div class="flex gap">
      <div class="bordered-card w-full grid-center py-8 px">
        <span class="bg-grey grid-center p-8 round bf-16 min-w-36px">₹{{payoutsData?.totalEarning || 0}}</span>
        <p class="rf-10 w-full text-center">Total Earnings</p>
        <button class="bf-10 f-red" routerLink="/tabs/payouts">Payouts <img
          src="../../assets/icon/chevron_right.svg" /></button>
      </div>
      <div class="bordered-card w-full grid-center py-8 px">
        <span class="bg-grey grid-center p-8 round bf-16 min-w-36px">{{payoutsData?.totalTrips}}</span>
        <p class="rf-10 w-full text-center">Trips Today</p>
        <button class="bf-10 f-red" routerLink="/tabs/trip-history" >Trips <img src="../../assets/icon/chevron_right.svg" /></button>
      </div>
      <div class="bordered-card w-full grid-center py-8 px">
        <span class="bg-grey grid-center p-8 round bf-16 min-w-36px">{{payoutsData?.totalHours}}</span>
        <p class="rf-10 w-full text-center">Total Login Hours</p>
        <button class="bf-10 f-red">Sessions <img src="../../assets/icon/chevron_right.svg" /></button>
      </div>
    </div>
  </div>
  <div *ngIf="isRiderOnline">
    <app-orders></app-orders>
  </div>



  <span class="flex-aligned gap">
    <p class="bf-16">My Target</p>
    <p class="rf-10">{{"(Time: 07:00 PM - 11:00 PM)"}}</p>
  </span>
  <app-my-target [Data]="this.myTargetData" ></app-my-target>


  <app-payout-rate-card></app-payout-rate-card>
</div>
</ion-content>