<div class="container ion-padding">
  <div class="headerContainer">
    <p class="id">Order ID</p>
    <p class="idv">{{ order.txnid }}</p>
    <p class="vname">{{ order.vname }}</p>
    <p class="menu"><ion-icon name="fast-food"></ion-icon> MENU</p>
  </div>
  <div class="menuContainer">
    <ion-list *ngIf="order.menu">
      <ion-item *ngFor="let dish of order.menu">
        <div class="dishContainer">
          <div class="names">
            <p class="dishName">{{ dish.dishName }}</p>
            <div class="extras">
              <div class="var">
                <span *ngFor="let v of dish.variations">
                  <span *ngFor="let newv of v | keyvalue"
                    >{{ newv.key }}
                  </span></span
                >
              </div>
              <div class="ad">
                <span *ngFor="let a of dish.addOns"
                  ><span *ngFor="let newa of a | keyvalue"
                    >{{ newa.key }}
                  </span></span
                >
              </div>
            </div>
          </div>
          <div class="quantity">X{{ dish.quantity }}</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="footer">
    <p class="ptype">{{ order.ptype }}</p>
    <p class="amount">
      <span *ngIf="order.ptype == 'Cash'"
        ><ion-icon
          style="font-size: 20px; color: #c8020d"
          name="wallet"
        ></ion-icon
      ></span>
      <span *ngIf="order.ptype == 'Online'">
        <ion-icon style="font-size: 20px; color: #c8020d" name="card"></ion-icon
      ></span>
      &#8377;{{ order.amount }}
    </p>
  </div>
</div>
