<ion-header class="flex-spaced py-8">
  <div class="flex-aligned ">
    <ion-back-button class="f-black" defaultHref="/tabs/account"></ion-back-button>

    <span class="bf-16">Session History</span>
  </div>

</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="p-16 flex-col h-full ">
              
    <ion-datetime-button class="bf-12 date-filter dark-border flex-aligned flex-spaced gap-8"
    datetime="date">
</ion-datetime-button>
<ion-modal [keepContentsMounted]="true">
<ng-template>
<ion-datetime id="date" presentation="date" prefer-wheel="false" showDefaultButtons="true"
[value]="selectedDate" (ionChange)="onDateChange($event)" placeholder="Select Date" [max]="getCurrentDate()">
</ion-datetime>

</ng-template>
</ion-modal>
    <div>


    </div>
    <div  *ngIf="sessionHistory.length==0"  class="grid-center p-32 gap-24 h-full">
      <div class="grid-center gap-24">
        <div class="bf-12 text-center ">
          No Session For The Selected Date.
        </div>
      </div>
    </div>
    <ion-grid class="w-full" *ngIf="sessionHistory.length>0">
      <ion-row class="round-top bf-12  p-8  text-center">
        <ion-col>Sessions</ion-col>
        <ion-col>Time Range</ion-col>
        <ion-col>Hours</ion-col>
      </ion-row>
      <ion-row class="rf-10  p-8 text-center" *ngFor="let sess of sessionHistory">
        <ion-col>{{sess.sessionId}}</ion-col>
        <ion-col>{{sess.timeRange}}</ion-col>
        <ion-col>{{sess.hours}}</ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>