.gbutton-container {
  display: flex;
  justify-content: center;
}
.gbutton {
  cursor: pointer;
  width: 80%;
  margin: 10px 0 0 0;
  text-align: center;
  background: #FF6665;
border-radius: 4.02994px;

  padding: 10px;

  color: white;
  font-size: 14px;
  font-family: "Nunito";
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.26);
}
.gbutton:hover {
  transform: scale(1.02);
}
.wallet-input {
  background-color: #fff;
  width: 80%;
  margin: 30px 0 0 0;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.ongoingtr {
  margin: 0.5rem 2rem;
  border-radius: 10px;
}
.text-sm {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.card-sm {
  padding: 8px;
  border-radius: 5px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height */
  position: relative;
  text-align: center;
  cursor: pointer;
  color: #000000;
  &:hover {
    transform: scale(1.05);
  }
}
#pendingBadge {
  position: absolute;
  top: -8px;
  right: -8px;
}
.item-text {
  font-family: Nunito;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.row{
  display:flex;
  justify-content: space-evenly;
  margin:2rem;
}
.card{
  background: #FFFFFF;
box-shadow: 0px 2.12958px 4.25916px rgba(0, 0, 0, 0.2);
border-radius: 7.45352px;
}