<ion-header [translucent]="true">
  <div class="strip"></div>
  <ion-toolbar>
    <ion-title>
      <img
        src="../../assets/no1.png"
        alt=""
        style="height: 3.4rem; margin-top: 2px"
        routerLink=""
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; flex-direction: column; align-items: center">
    <ion-input
      [(ngModel)]="requestAmount"
      type="number"
      class="wallet-input"
    ></ion-input>
    <p class="text-sm">
      Available Balance: &#8377;
      <span *ngIf="details">{{details.reedamableAmount}}/-</span>
    </p>
    <p class="text-sm" style="margin-top: 0">
      (Amount till {{date | date: 'dd/MM/yyyy' }})
    </p>
  </div>

  <div class="gbutton-container">
    <div class="gbutton" (click)="sendRequest()">Send Request</div>
  </div>
  <div class="row">
    <div class="card mx-0 card-sm" routerLink="pending">
      Pending Transactions
      <ion-badge id="pendingBadge" color="secondary"
        ><span *ngIf="details">{{details.pending_requests}}</span></ion-badge
      >
    </div>
    <div class="card mx-0 card-sm" style="margin-left: 1rem" routerLink="past">
      Past Transactions
    </div>
    <div
      class="card mx-0 card-sm"
      style="margin-left: 1rem"
      routerLink="credit-notes"
    >
      Credit Notes
    </div>
  </div>
  <div class="card ongoingtr">
    <ion-item>
      <ion-label class="ion-text-wrap item-text"> Today's Earning </ion-label>
      &#8377;<span *ngIf="details">{{details.daily}}/-</span>
    </ion-item>
  </div>
  <div class="card ongoingtr">
    <ion-item>
      <ion-label class="ion-text-wrap item-text"> Balance </ion-label>
      &#8377; <span *ngIf="details">{{details.balance}}/-</span>
    </ion-item>
  </div>
  <div class="card ongoingtr">
    <ion-item>
      <ion-label class="ion-text-wrap item-text"> Lifetime Earning </ion-label>
      &#8377;<span *ngIf="details">{{details.lifetimeEarning}}/-</span>
    </ion-item>
  </div>

  <div class="card ongoingtr">
    <ion-item>
      <ion-label class="ion-text-wrap item-text"> Amount Recieved </ion-label>
      &#8377;<span *ngIf="details">{{details.amount_received}}/-</span>
    </ion-item>
  </div>
  <div class="card ongoingtr">
    <ion-item>
      <ion-label class="ion-text-wrap item-text"> Amount Deducted </ion-label>
      &#8377;<span *ngIf="details">{{details.amount_deducted}}/-</span>
    </ion-item>
  </div>
</ion-content>
