<span class="flex">
  <p class="bf-16">Orders</p>
</span>
<ion-segment value="active" mode="md">
  <ion-segment-button value="active" (click)="showActiveOrders = true">
    Active
  </ion-segment-button>
  <ion-segment-button value="new" (click)="showActiveOrders = false">
    New
  </ion-segment-button>
</ion-segment>

<div class="orders-wrapper py-8">
  <ion-card class="bordered-card card relative w-full p-16" *ngFor="let order of filteredOrders()">
    <div class="rf-12 ">
      Order ID: {{ order.txnid }}
    </div>
    <div class="bf-16 capitalize" *ngIf="showActiveOrders">Step {{stepText[order.status]}}</div>
    <div class="rf-12 pick-up">
      Pickup from:
    </div>
    <div>
      <div class="bf-16">
        {{ order.vname }}
      </div>
      <div class="rf-10">
        {{ order.vadd }}
      </div>
    </div>
    <span class="chip absolute"
      [ngClass]="{'red-chip': showActiveOrders && order.status > 3, 'green-chip': !showActiveOrders}">
      {{(showActiveOrders) ? "ACTIVE" : "NEW"}}</span>
    <img (click)="expandOrder(order)" class="expand-btn absolute v-center" src="../../assets/icon/expand_circle_down.svg" />
  </ion-card>
</div>
