<ion-header class="flex-spaced py-8" *ngIf="!isLoading" >
  <div class="flex-aligned ">

    <ion-back-button class="f-black" defaultHref="/tabs/feed"></ion-back-button>
    <span class="bf-16">{{statusData[order.status].headText}}</span>
  </div>
  <div class="flex-aligned gap-24 px">
    <button class="bordered-chip" routerLink="/tabs/support-tickets" >HELP</button>


  </div>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="px flex-col-spaced gap-16  h-full"  *ngIf="!isLoading" >
    <div class="flex-col gap-16">
      <div class="bordered-card p-16 flex gap-12">
        <div class="grid gap-9">
          <span class="rf-12">{{statusData[order.status].vendorCard?'Pickup from:' :'Customer Address'}}</span>
          <span>
            <div class="bf-16">{{statusData[order.status].vendorCard? order.vname : order.deliveryname}}</div>
            <div class="rf-10">{{statusData[order.status].vendorCard? order.vadd : order.address}}</div>
          </span>
          <span class="flex-aligned gap-9">
            <img src="../../assets/icon/schedule.svg" alt="">
            <span class="rf-12 f-midgrey ">{{"2"}} mins away</span>
          </span>
        </div>
        <div class="flex-col-spaced">
          <button class="p-btn" (click)="navigateToAddress(order.vlat,order.vlong)">Navigate</button>
          <button class="s-btn" (click)="callPhoneNumber(order.deliverynumber)">Call</button>
        </div>
      </div>
      <div class="bordered-card p-16 grid gap-4">
        <div class="flex-spaced">
          <span class="rf-12">{{foodPrepared?"Order Details": "Status of Order"}}</span>
          <span class="flex-aligned gap-4">
            <img src="../../assets/icon/close-red.svg" alt="">
            <span class="bf-12 f-red" (click)="rejected(orderId)">Reject Order</span>
          </span>
        </div>
        <span class="flex-aligned gap-4"><span class="bf-16">{{foodPrepared? "Order ID: " : "Being Prepared "}} </span>
          <span class="bf-16" *ngIf="foodPrepared"> {{order.txnid}} </span></span>

        <span class="rf-10 tool-tip max-w-65 py-8" *ngIf="!foodPrepared">You’ll be receiving a notification when the
          order is ready for
          pickup.</span>
        
        <span class="bf-12 py-8">Order Contains:</span>
        <div class="grid gap-9 py-8">
          <div class="flex-col" *ngFor="let item of order.menu; let last = last">
              <div class="bf-12 flex-col">
                <span class="flex-aligned gap-4">
                  <span class="dish-name bf-12">
                    {{ item?.dishName }}
                  </span>
                  <span class="flex-spaced" *ngFor="let v of item.variations">
                    <span class="bf-14 f-darkgrey" *ngFor="let val of v | keyvalue">- {{ val?.key }} </span>
                  </span>
                  <span> x {{ item?.quantity }}</span>
                </span>
    
              </div>
    
            <div class="flex-spaced" *ngIf="item?.addOns?.length > 0">
              <span class="bf-12"> Add-Ons:</span>
              <div class="flex-col">
                <span *ngFor="let a of item?.addOns">
                  <span class="rf-14" *ngFor="let val of a | keyvalue">{{ val?.key }}
                  </span>
                </span>
              </div>
            </div>
    
            <div *ngIf="!last">
              <div class="divider"></div>
            </div>
          </div>
        </div>
        <span class=" py-8 flex gap-9 flex-aligned"><span class="rf-12">Total Amount: </span> <span class="bf-12">₹{{order.amount}}</span> </span>
        <div *ngIf="statusData[order.status].itemsPresentBlock">
          <div class="w-full px-40 py" *ngIf="!allItemsPresent">
            <button class="p-btn w-full"
              (click)="itemsPresent()">All Items
              Present</button>
          </div>
          <div class="bf-12 f-green py-8 flex-spaced flex-aligned" *ngIf="allItemsPresent">
            <p>Successfully verified all items present. </p>
            <span (click)="allItemsPresent = false;this.statusData[4].slideBtnClass = 'disabled-pickup-order'"
              class="close-circle"></span>
          </div>
        </div>
        
        <span class="rf-10 f-midgrey">
          Please verify if the package contains all the above mentioned food items before confirming pickup.
        </span>
      </div>
    </div>
    <div class="flex-col gap-12">
      <div class="grid-center px-40" *ngIf="order.status==='5' && order.ptype==='Cash'">
        <button class="p-btn w-full" (click)="generatePaymentLink()" *ngIf="paymentStatus ==='pending'">
          Generate Payment Link
        </button>
        <span class="bf-12 f-green" *ngIf="paymentStatus === 'waiting'">
          Waiting For Payment
        </span>
        <span class="bf-12 f-green" *ngIf="paymentStatus === 'paid'">
          Custumer Paid
        </span>

      </div>
      <div class="slide-btn-wrapper py">
        <input [classList]="statusData[order.status].slideBtnClass" type="range" value={{sliderValue}}
          [style.background]="getColor()" (input)="onSliderChange($event)" (touchend)="onSliderTouchEnd()"
          (mouseup)="onSliderTouchEnd()" min="0" max="100">
       
  
      </div>
    </div>
  </div>
</ion-content>