/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800&display=swap');


// Styled Text Styles

@mixin text($size, $weight) {
  font-family: 'Nunito', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

.rf-10 {
  @include text(10px, 400);
}

.rf-12 {
  @include text(12px, 400);
}

.rf-14 {
  @include text(14px, 400);
}
.rf-16 {
  @include text(16px, 400);
}

.bf-10 {
  @include text(10px, 700);
}

.bf-12 {
  @include text(12px, 700);
}

.bf-16 {
  @include text(16px, 700);
}

.bf-18 {
  @include text(18px, 700);
}
.bf-24{
  @include text(24px, 700);
}

.bf-32{
  @include text(32px, 700);
}
.f-white{
  color: #FFFFFF;
}
.f-darkgrey{
  color: #616161;
}
.f-grey {
  color: #757575;
}

.f-midgrey {
  color: #ACACAC;
}

.f-lightgrey {
  color: #B8B8B8;
}


.f-green {
  color: #4FCB6D;
}

.f-red {
  color: #FF6565;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.max-w-65 {
  max-width: 65%;
}

.m-b-36 {
  margin-bottom: 36px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

// chip or badges styles

@mixin chip($color) {
  padding: 4px 12px;
  background-color: $color;
  border-radius: 20px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  color: #FFFFFF;
}

.bordered-chip {
  @include chip(#FFFFFF);
  color: #000000;
  border: 1px solid #000000;
}

.red-chip {
  @include chip(#FF6565);
}

.green-chip {
  @include chip(#4FCB6D);
}





// commonly used styles
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-aligned {
  display: flex;
  align-items: center;
}
.flex-justified{
  display: flex;
  justify-content: center;

}
.flex-col-justified{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-spaced {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.grid-center {
  display: grid;
  place-items: center;
}

.gap {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}

.gap-9 {
  gap: 9px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.overflow-hidden {
  overflow: hidden;
}

// padding styles
.p-16 {
  padding: 16px;
}
.p-32{
  padding: 32px;
}
.p-8 {
  padding: 8px;
}

.p-4 {
  padding: 4px;
}

.px {
  padding-left: 16px;
  padding-right: 16px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.py {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12{
  padding-top: 12px;
  padding-bottom: 12px;
}
// border radiuses
.round {
  border-radius: 8px;
}

.round-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ion-content {
  background-color: white;
}

ion-page {
  background-color: #fff;
}

ion-header {
  height: 72px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

ion-header::after {
  background-image: none !important;
}

.rinput {
  border: 1px red solid !important;
  border-radius: 5px !important;
}

button {
  background-color: transparent;
  padding: 0;
}

// Buttons Styles

@mixin button($BGcolor, $color) {
  width: 124px;
  height: 32px;
  background: $BGcolor;
  border-radius: 8px;
  @extend .bf-12;
  color: $color;

}

.p-btn {
  @include button(#4FCB6D, #FFFFFF);
}

.s-btn {
  @include button((linear-gradient(0deg, #BFFFCE, #BFFFCE), #4FCB6D), #4FCB6D);
  border: 1px solid #4FCB6D;
}

.t-btn{
  height: 56px;
  width: 100%;
  @extend .bg-red, .bf-16,.f-white;
  border-radius: 28px;
}

.capitalize {
  text-transform: capitalize;
}

// Positioning Styles
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-center{
@extend .v-center;
left: 50%;
transform: translate(-50%, -50%);
}

// deminsions Styles
.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.min-w-36px {
  min-width: 36px;
}

.h-full {
  height: 100%;
}

.h-4px {
  height: 4px;
}

.h-8px {
  height: 8px;
}

.square-8px {
  width: 8px;
  height: 8px;
}

.bg-grey {
  background: #EEEEEE;
}

.bg-white {
  background: #FFFFFF;
}

.bg-green {
  background: #4FCB6D;
}

.bg-red {
  background: #FF6565;
}

.bg-brown{
 background:  #313131;
}

// Card Styles


.bordered-card {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
}

.prompt-bottom-modal {
  bottom: 0;
}

ion-modal {
  --background: transparent;

}

// ion-backdrop {
//   background: transparent;
// }

.sc-ion-modal-md-h {

  --background: rgba(61, 61, 61, 0.75) !important;

}

.modal-wrapper {
  background: rgb(0, 0, 0, 0.5);

}








// .swipe-btn{
//   width: 100%;
//   height: 56px;
//   background: #FF6565;
//   border-radius: 28px;
// }

app-slide-button {
  width: 100%;
  height: 20px;
}

ion-card {
  all: unset;
  margin: 0 !important;
  box-sizing: border-box;

}

ion-segment {
  @extend .flex-start;
  gap: 16px;

}
ion-segment-button {
  min-height: 40px;
  --padding-top: 0;
  --padding-end: 6px;
  --padding-bottom: 0;
  --padding-start: 6px;
  text-align: center;

  min-width: 70px;
  text-transform: unset;
  --color: black;
  font-weight: 400;

  slot {
    @extend .rf-16;

  }
}

ion-progress-bar{
  --background:#D9D9D9;
  --progress-background: #FF6565;
}

.segment-button-checked{
  font-weight: 700;
slot{
  --color: #FF6565;
  @extend .bf-16;

}
}

.loading-wrapper{
  --width:100%;
  --max-width: 100%;
  --height:100%;
  --max-height: 100%;
  --background:transparent;
  --font-size: 16px;
}
ion-spinner{
width: 50px;
height: 50px;
}
.circle-dismiss-btn {
  position: absolute;
  top: -40px;
  left: 0px;
  padding: 16px;
  cursor: pointer;
  z-index: 99999;
  background-color: #fff;
  width: 32px;
  height: 32px;
  // box-shadow: 0px 4px 4px -2px rgba(125, 125, 125, 0.25);
  border-radius: 50%;
  display: grid;
  place-content: center;

  img {
    width: 20px;
    height: 20px;
    max-width: 32px;
    z-index: 9999999;
    object-fit: cover;
    pointer-events: none;

  }

}
.pointer-events-none{
  pointer-events: none;
}
.modal-wrapper-bottom {
  bottom: 0;
  animation: prompt-from-bottom 0.2s ease-in-out;
  padding: 24px;
}


@keyframes prompt-from-bottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.slide-btn-wrapper {
  margin: 15px 0;
  padding: 0 20px;
  position: relative;

  .thumb-icon {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 64px;
    pointer-events: none;
    height: 56px;
    object-fit: cover;
    display: grid;
    place-content: center;


  }

  input[type="range"] {
    min-width: 295px;
    width: 100%;
    height: 56px;
    background: #FF6565;
    border-radius: 28px;
    -webkit-appearance: none;
    padding: 5px;
    position: relative;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 1;
    position: relative;
    height: 50px;
    width: 64px;
    height: 48px;
    background: #FFFFFF;
    background-image: url("./assets/icon/keyboard_double_arrow_right.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 23px;
    animation: all 0.3s ease-in-out;
  }

  input[type="range"]:before {
    color: #fff;
    position: absolute;
    left: 100px;
    top: 18px;
    z-index: 1;
    font-weight: 700;
    font-size: 16px;
    animation: all 0.3s ease-in-out;
  }


}


.disabled-btn-wrapper {
  filter: grayscale(0.9);
  pointer-events: none;
  opacity: 0.5;

  input {
    cursor: not-allowed !important;
  }

}

.close-circle {
  background-image: url("./assets/icon/close-circle.svg");

  background-color: #000000;
  height: 24px !important;
  width: 24px !important;
  border-radius: 50%;
}

app-order-details{
background: #ffffff;
}


.expand-btn-black{
  display: inline-block;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url("./assets/icon/expand_black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;

}

.expand-btn-red{
  @extend .expand-btn-black;
  background: url("./assets/icon/expand_red.svg");
}

ion-content{
  > div{
    padding-top: 0 !important;
  }
}

.user-img {
  display: inline-block;
  width: 72px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.input-field{
  width: 100%;

@extend .bf-12;
@extend .p-16;
letter-spacing: 0.0125em;
border: 1px solid #7B7A7A;
border-radius: 8px;

 & ::placeholder{
  color: #AAAAAA;
 }
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #E9E9E9;
  background: #E9E9E9;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-position: center;
background-repeat: no-repeat;
}

input[type="radio"]:checked {
background-image: url("./assets/icon/check_circle.svg");
background-position: center;
background-repeat: no-repeat;
background-size: 24px;
}

ion-grid{
  padding: 0 ;
}
ion-toast {
  // --background: #ffffff;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);

}

ion-toast::part(message) {
  @extend .bf-12,.f-white;

}

ion-toast.toast-error {
  --background: #FF6565;
}

ion-toast.toast-success {
  --background: #4FCB6D;
}

// .date-filter {
//   display: flex;
//   align-items: center;
//   position: relative;

//   gap: 2px;
//   span{
//       width: fit-content;
//   }

// }



ion-datetime-button::part(native) {

  background-color: #ffffff;
  width: 100%;
  text-align: left;
  margin: 0;

  
}
ion-datetime-button{
  position: relative;
  z-index: 1;

}
ion-datetime-button::before{
  content: ' ';
  position: absolute;
  display: block;
  right: 8px;
  top: 50%;
  transform: translateX(-50%);

  height: 20px;
width: 20px;
object-fit: cover;
background: url("./assets/icon/expand_black.svg");
rotate: 90deg;
z-index: 999999999;
pointer-events: none;
}


.search-icon{
  background-image: url("./assets/icon/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  width: 97px;
  height: 97px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #F7F7F7;
}


.dark-border{
  border: 1px solid #7B7A7A;
  border-radius: 8px;
}

.arrow-down{
  display: block;
  height: 20px;
  width: 20px;
  object-fit: cover;
  background: url("./assets/icon/expand_black.svg");
  rotate: 90deg;
}

.badge{
  color: white;
  border-radius: 50%;
  padding: 2px;
  height: 18px;
  min-width: 18px;
  line-height: 15px;

}