<app-header></app-header>

<ion-content>
  <div class="payout-reports">
    <div class="flexed-options">
      <button class="active">Daily</button>
      <button>Weekly</button>
      <button>Monthly</button>
    </div>
    <div class="progress-block">
      <div class="card">
        <span class="card-stats">₹{{"0"}}</span>
        <p>Total Earnings</p>
      </div>
      <div class="card">
        <span class="card-stats">{{"0.0"}}</span>
        <p>Trips Today</p>
        <button class="text-only-btn">Trips <img src="../../assets/icon/chevron_right.svg" /></button>
      </div>
      <div class="card">
        <span class="card-stats">{{"0"}}</span>
        <p>Total Login Hours</p>
        <button class="text-only-btn">Sessions <img src="../../assets/icon/chevron_right.svg" /></button>
      </div>
    </div>
  </div>
  
  <div class="my-target-wrapper">
<span class="feed-header">
  <p class="feed-title">My Target</p>

</span>
<app-my-target></app-my-target>
</div>
  <div class="my-earnings-wrapper">
    <div class="feed-header">
      <p class="feed-title">My Earnings Today</p>
      <p class="feed-title">₹{{"300"}}</p>
    </div>
    <div class="accordian" [ngClass]="{'active': isOrderHistoryOpen}">
      <div class="header"  (click)="toggleOrderHistory()">
        <div>
          <img src="../../../assets/icon/currency2.svg" alt="">
          <span class="regular-text-l">Order Pay</span>
        </div>
        <div>
          <span class="regular-text-l">₹{{"150"}}</span>
          <span class="btn"><img src="../../../assets/icon/expand_more.svg" alt=""></span>
        </div>
      </div>
      <div class="body" *ngFor="let order of orderPayHistory">
        <div class="body-block">
          <div><span class="slim-text-s">Order ID: {{order.orderId}}</span> <span class="regular-text">₹{{order.amount}}</span></div>
          <div><span class="slim-text-s">Completed on: {{order.completedOn}}</span></div>
        </div>
      </div>
    </div>
    <div class="accordian" [ngClass]="{'active': isMyRewardsOpen}">
      <div class="header"  (click)="toggleMyRewardsHistory()">
        <div>
          <img src="../../../assets/icon/rewards.svg" alt="">
          <span class="regular-text-l">My Rewards</span>
        </div>
        <div>
          <span class="regular-text-l">₹{{"150"}}</span>
          <span class="btn"><img src="../../../assets/icon/expand_more.svg" alt=""></span>
        </div>
      </div>
      <div class="body" *ngFor="let reward of MyRewardsHistory">
        <div class="body-block">
          <div><span class="slim-text-s">Order ID: {{reward.orderId}}</span> <span class="regular-text">₹{{reward.amount}}</span></div>
          <div><span class="slim-text-s">Completed on: {{reward.completedOn}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <app-payout-rate-card></app-payout-rate-card>
</ion-content>