.my-earnings-wrapper {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .feed-header {
        justify-content: space-between;
    }

    .accordian {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                display: flex;

                align-items: center;
                gap:12px
            }
            .btn {
                display: block;
                width: 16px;
                height: 16px;
                object-fit: cover;
                background: #EEEEEE;
                border-radius: 50%;
                display: grid;
                place-content: center;
                padding: 6px 4px ;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .body{

            display: grid;
            gap: 16px;
            max-height: 0px;
            overflow: hidden;
            .body-block{
                display: grid;
                gap: 4px;
                div{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        &.active{
            .header{
                .btn{
                    rotate: 180deg;

                }
            }
            .body{
                margin-top: 16px;
                max-height: 500px;
            }
        }
    }
}


