.heading {
  font-family: Khula;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 1rem;
}
.date {
  font-family: Nunito;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.amount {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.comment {
  color: #5a5a5a;
  overflow-wrap: break-word;
  font-style: normal;
  width: 100%;
  font-size: 14px;
}
