<ion-header [translucent]="true">
  <div class="strip"></div>
  <ion-toolbar>
    <ion-title>
      <img
        src="../../assets/no1.png"
        alt=""
        style="height: 3.4rem; margin-top: 2px"
        routerLink=""
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="heading">Transactions</p>
  <ion-list>
    <ion-item
      *ngFor="let trans of transactions"
      text-wrap
      class="item-text-wrap"
    >
      <ion-label class="item-text-wrap" text-wrap>
        <div style="display: flex; justify-content: space-between; width: 100%">
          <div slot="start" class="date">{{trans.RESOLVED_TIME}}</div>
          <ion-text
            class="date"
            color="danger"
            style="font-weight: bold"
            *ngIf="trans.STATUS == 'Failed'"
            >{{trans.STATUS}}</ion-text
          >
          <ion-text
            class="date"
            color="success"
            style="font-weight: bold"
            *ngIf="trans.STATUS == 'Success'"
            >{{trans.STATUS}}</ion-text
          >
          <div slot="end" class="amount">{{trans.REQUESTED_AMOUNT}} /-</div>
        </div>
        <ion-text class="">
          <p>Amount Sent:{{trans.SENT_AMOUNT}}</p>
        </ion-text>

        <ion-text class="">
          <p>Amount Deducted:{{trans.AMOUNT_DEDUCTED }}</p>
        </ion-text>
        <ion-text text-wrap class="item-text-wrap comment">
          <p text-wrap class="item-text-wrap">{{trans.COMMENT}}</p>
        </ion-text>
        <ion-text>
          <p style="font-weight: 300">Request Time :{{trans.REQUEST_TIME}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="transactions.length == 0">
      <ion-label> You don't have any transactions. </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
