<div class="backdrop h-screen w-full " (click)="onDismiss($event)">
  <div class="modal-wrapper-bottom absolute w-full bg-white round-top grid gap-16" >

      <div class="bf-18">
Confirm Online
    </div>
    <div class="rf-10">
      Are you sure you want to go online? You will start receiving order notifications on the app.
    </div>
    
<div class="flex-spaced py px">
  <button class="dismiss-btn s-btn" (click)="onDismiss($event)">
    {{"close"}}
  </button>
  <button class="dissmiss-btn p-btn" (click)="onConfirm()">
    {{"OK"}}
  </button>
</div>
    </div>



</div>