<ion-header [translucent]="true">
  <div class="strip"></div>
  <ion-toolbar>
    <ion-title>
      <img
        src="../../assets/no1.png"
        alt=""
        style="height: 3.4rem; margin-top: 2px"
        routerLink=""
      />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="heading">Pending Transactions</p>
  <ion-list>
    <ion-item *ngFor="let trans of transactions">
      <ion-label>
        <div style="display: flex; justify-content: space-between; width: 100%">
          <div slot="start" class="date">{{trans.REQUEST_TIME}}</div>
          <div slot="end" class="amount">{{trans.REQUESTED_AMOUNT}}/-</div>
        </div>
        <ion-text class="comment">
          <p>{{trans.STATUS}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
